<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.application.bahasa.arab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo_bahasa_arab_beta"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_bahasa_arab_beta"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.main.DetailProfileActivity"
            android:label="@string/detailProfileActivity"
            android:theme="@style/AppTheme.Sign"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.ChatTabActivity"
            android:label="@string/chatTabActivity"
            android:theme="@style/AppTheme.Sign"/>
        <activity
            android:name=".ui.sign.SignUpActivity"
            android:label="@string/signActivity"
            android:theme="@style/AppTheme.Sign"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.sign.SignInActivity"
            android:label="@string/signActivity"
            android:theme="@style/AppTheme.Sign"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.HomeTabActivity"
            android:label="@string/homeTabActivity"
            android:theme="@style/AppTheme" />
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3946611117968254~4667483765" />
        <activity
            android:name=".ui.main.DetailHomeActivity"
            android:label="@string/detailHomeActivity"
            android:parentActivityName=".ui.HomeTabActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeTabActivity" />
        </activity>
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>